.header{
background-image:url('https://downloader.la/temp/5e21dcfc419e2.png');
height:700px;
width:100%;
   font-family: Helveti
     Narrow, sans-serif;
    font-weight: bold;
}
h2{
    	font:50px;
    	color:red;
    }

